<h1>Editing Client Has Employeur</h1>

<%= render 'form', client_has_employeur: @client_has_employeur %>

<%= link_to 'Show', @client_has_employeur %> |
<%= link_to 'Back', client_has_employeurs_path %>
